@import db.IndexedCountry

@(airportForm: Form[CountryQuery], listCountries: List[IndexedCountry], searchResult: ResultSearch)(implicit messages: Messages)

@echoSearch(maybeCountryQuery: Option[CountryQuery]) = {
@maybeCountryQuery match {
    case Some(q) => { Showing results for '@q.query'}
    case None => {}
}
}
@showCountryName(list: List[IndexedCountry]) = {
@list.headOption.map(i => {
    i.name
})
}

@showNotFound(maybeCountryQuery: Option[CountryQuery])={
@maybeCountryQuery match {
    case Some(q) => { Country not found. Try again!}
    case None => {}
}
}

@main("Query airports by country") {

    @helper.form(action = routes.AirportController.search) {
        @helper.input(airportForm("query"), '_showConstraints -> false, '_label -> "Please enter your search") { (id, name, value, args) =>
            <input type="text" name="@name" id="@id" @toHtmlArgs(args)>
        }
        <input type="submit">
    }
    <br/>
    @echoSearch(airportForm.value)
    <br/>

    @if(listCountries.size > 1) {
        please select one country or try searching again<br/>
        <table id="countryTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Iso Code</td>
                </tr>
            </thead>
            @for(country <- listCountries) {
                <tr>
                    <td>
                        <a href="@routes.AirportController.showResultsFor(country.code, country.id)"> @{
                            country.name
                        }</a></td>
                    <td><a href="@routes.AirportController.showResultsFor(country.code, country.id)">@{
                        country.code
                    }</a>
                    </td>
                </tr>
            }
        </table>
        <script type="text/javascript">
                $(document).ready(function () {
                    $('#countryTable').DataTable({
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                    });
                });
        </script>

    } else {
        @if(listCountries.size == 1) {
            Showing results for : @showCountryName(listCountries) <br/>
            <table id="airportTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>IsoCountry</td>
                        <td>Airport Name</td>
                        <td>Airport Ident</td>
                        <td>Airport Type</td>
                        <td></td>
                        <td>Runway Ident</td>
                        <td>Runway Surface</td>
                        <td>Runway Measures (LxW in ft)</td>
                    </tr>
                </thead>
                <tbody>
                @for(result <- searchResult.listResults) {
                    <tr>
                        <td>@result.airport.isoCountry</td>
                        <td>@result.airport.name</td>
                        <td>@result.airport.ident</td>
                        <td>@{
                            result.airport.`type`
                        }</td>
                        <td></td>
                        <td>@result.runway.leIdent</td>
                        <td>@result.runway.surface</td>
                        <td>@result.runway.lengthFt x @result.runway.widthFt</td>
                    </tr>
                }
                </tbody>

            </table>
            <script type="text/javascript">
                    $(document).ready(function () {
                        $('#airportTable').DataTable({
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                        });
                    });
            </script>
        }else {
            @showNotFound(airportForm.value)
        }
    }
}
