@main("Lunatech Assessment - What do want to do?") {

    What do you plan to do?<br/>
    <a href="@routes.AirportController.index">Query airports by country name</a><br/>
    Or<br/>
    <a href="@routes.ReportController.index">View all reports</a>

}
