@(top10CountriesWithAirports: List[CountryWithCount], bottom10CountriesWithAirports: List[CountryWithCount], runwaysByCountry: List[CountryWithSurfaceList], commonRunways: List[RunwayIdentWithCount])
@printSurfaces(list: List[String]) = {
@list.mkString(", ")
}

@main("Reports") {
    Top 10 countries
    <table id="topTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Country Name</td>
                <td>Country Code</td>
                <td>Airport Count</td>
            </tr>
        </thead>
        <tbody>
        @for(cwc <- top10CountriesWithAirports) {
            <tr><td>
            @cwc.country.name
            </td> <td>
            @cwc.country.code
            </td> <td>
            @cwc.count
            </td>
            </tr>
        }
        </tbody></table>
    <hr/>
    Bottom 10 countries
    <table id="bottomTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Country Name</td>
                <td>Country Code</td>
                <td>Airport Count</td>
            </tr>
        </thead>
        <tbody>
        @for(cwc <- bottom10CountriesWithAirports) {
            <tr><td>
            @cwc.country.name
            </td> <td>
            @cwc.country.code
            </td> <td>
            @cwc.count
            </td>
            </tr>
        }
        </tbody></table>
    <hr/>
    Runways by country
    <table id="runwayTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Country name</td>
                <td>Country code</td>
                <td>Surfaces</td>
            </tr>
        </thead>
        <tbody>
        @for(rbc <- runwaysByCountry) {
            <tr><td>
            @rbc.country.name
            </td> <td>
            @rbc.country.code
            </td> <td>
            @printSurfaces(rbc.surfaceList)
            </td>
            </tr>
        }
        </tbody></table>
    <hr/>
    Top 10 common identifications
    <table id="identtTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Runway Ident</td>
                <td>Count</td>

            </tr>
        </thead>
        <tbody>
        @for(cr <- commonRunways) {
            <tr><td>
            @cr.ident
            </td> <td>
            @cr.count
            </td>
            </tr>
        }
        </tbody></table>
    <hr/>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#topTable').DataTable({
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "order": [[ 2, "desc" ]]
                });
                $('#bottomTable').DataTable({
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "order": [[ 2, "desc" ]]
                });
                $('#runwayTable').DataTable({
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                });
                $('#identtTable').DataTable({
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "order": [[ 2, "desc" ]]
                });
            });
    </script>
}
